<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comments test</title>
    <link rel="stylesheet" href="build/css/app.css">
</head>
<body>
    <div class="comments">
        <h1 class="comments-header"></h1>

        <script id="comments" class="comments" type="text/x-handlebars-template">
            {{#each comments}}
                {{#if date}}
                    <div class="month">{{date}}</div>
                {{/if}}
                <div class="comment-row {{#if date}}bordered{{/if}}">
                    <div class="time">{{timeFormatted}}</div>
                    <div class="name">{{fullName}}</div>
                    <div class="comment">{{text}}</div>
                </div>
            {{/each}}
        </script>

        <div class="comment-group"></div>
    </div>

    <script src="build/bundle.js"></script>
</body>
</html>