@main_color1: #f3f5f6;
@main_color2: #808080;
@main_color2: #000;

body {
  background-color: @main_color1;
  color: @main_color2
}

.comments-header {
  font-size: 18px;
  text-transform: uppercase;
}

.comments {
  font-family: "Times New Roman", serif;
  font-size: 16px;

  .month {
    margin-top: 20px;
  }

  .comment-row {
    color: @main_color2;
    display: table;
    margin-left: 20px;
    border: 1px solid @main_color2;
    width: 90%;
    border-top: 0;

    &.bordered {
      border: 1px solid @main_color2;
    }

    .time,
    .name,
    .comment {
      display: table-cell;
      padding: 10px;
    }

    .time {
      width: 25%;
    }

    .name {
      width: 45%;
    }

    .comment {
      border-left: 1px solid @main_color2;
      width: 30%;
    }
  }
}


